
// recupera variables root:css y la remplaza segun su propiedad  
@mixin var($property, $var) {
  #{$property}: map-get($vars_colors, $var);
  #{$property}: var(--#{$var})
}
/* example apply ruler: 
  body { 
    @include var(background-color, secondary);
  }
*/

// Reset - <ul>
@mixin ul-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}


// Reset - <a>
@mixin a-reset {
  text-decoration: none;
}
