// map:() paleta de color 
$vars_colors: (
  primary : #E8B63B,
  secondary : #2A00FF,
  third : #E55C5B,
);

// variables root:css
:root {
  // recorre el map:() vars_colors, y compila las variables nativas css
  @each $key, $value in $vars_colors {
    --#{$key}: #{$value};
  }

}
