@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito&display=swap");
:root{
  --primary:#e8b63b;
  --secondary:#2a00ff;
  --third:#e55c5b; }
*,::After,:before{
  box-sizing:border-box; }

body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  line-height:1.7; }

h1,h2,h3,p{
  margin-top:0;
  margin-bottom:0; }

figure{
  margin:0; }

img{
  display:block;
  max-width:100%;
  height:auto; }
body{
  font-family:Nunito,sans-serif;
  font-size:1em; }

.title{
  font-size:2.625em; }

.subtitle{
  font-size:2em; }

.medium{
  font-size:1.5em; }

.small,small{
  font-size:.75em; }

.smaller{
  font-size:.625em; }
