.l-container,
.l-container--full {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.l-container--full { max-width: 100%; }

.l-section {
  margin-top: 60px;
  margin-bottom: 60px;
}
